name = "MMbiPlanner"
uuid = "c27fa319-155f-4a68-abaa-bed4b4ff497a"
authors = ["Rufat <rufat.ibrahimov.01@gmail.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
